#meme-image-container {
  height: 300px;
  width: 300px;
  position: relative;
  margin: 0;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

#meme-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.meme {
  width: 100%;
  height: 100%;
  position: relative;
}

#meme-text {
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}